{
  "parser": "@typescript-eslint/parser",
  "extends": ["standard", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "array-bracket-spacing": "error",
    "no-lonely-if": "warn",
    "arrow-parens": "error",
    "no-var": "error",
    "prefer-const": "error",
    "max-len": [
      "warn",
      {
        "code": 155,
        "tabWidth": 2,
        "ignoreComments": true
      }
    ],
    "quote-props": "warn",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/no-namespace": "off"
  }
}
